.body-camping {
    min-height: 100vh;
    position: relative;

    height: 20rem;
    background: url("../public/imagenes-p/cam/wp1857439.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;

    .video-fondo-camping {
        display: none;

    }

    .header-camping {

        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: fit-content;
        z-index: 1000;
        width: 100%;
        position: fixed;
        top: 0;

        .bg-dark {
            display: none;

        }

        .header-desktop {

            background-color: #c1cfb0f5;
            display: grid;
            grid-template-columns: 10% 80% 10%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            /* Sombra para dar un efecto flotante */
            z-index: 1000;
            /* Asegura que esté encima de otros elementos */
            grid-template-rows: 80% 20%;
            background-attachment: fixed;
            width: 100%;
            height: 100%;


            .titulos {
                grid-column: span 2;
                display: grid;

                h1 {
                    color: #0a0f32d1;
                    font-size: 3rem;
                    display: flex;

                    justify-self: center;
                    position: sticky;
                    top: 0px;
                    font-family: 'Times New Roman', Times, serif
                }

                .subtitulo-principal {
                    font-size: 1.2rem;
                    display: flex;
                    justify-content: center;
                    font-family: 'Times New Roman', Times, serif
                }
            }

            img {
                width: 100px;
                position: relative;
                z-index: 1;
            }



        }

        @import "../components/nav";


    }

    .main-camping {
        margin-top: 10rem;
        display: grid;
        row-gap: 2rem;
        margin-bottom: 2rem;

        section {

            display: grid;
            align-self: center;
            align-items: center;
            justify-self: center;
            justify-content: center;
            border: solid;
            row-gap: 1rem;
            background-color: rgba(255, 228, 196, 0.849);
            height: fit-content;
            padding: 1.5rem;
            border-radius: 10px;

            h2 {
                text-align: center;
                font-size: 2rem;
            }

            p {
                font-size: 1.3rem;
            }



            h3 {
                font-size: 2rem;
                justify-self: center;
                align-items: center;
            }

        }


        article {
            display: grid;
            row-gap: 1rem;

            h2 {
                justify-self: center;
                background-color: rgba(255, 228, 196, 0.849);
                border-radius: 10px;
            }

        }


        .video-camping {
            display: flex;
            align-self: center;
            justify-self: center;
            width: 60vw;
            height: 600px;
            position: relative;
            border-radius: 15px;

        }

     

        .articulos-camping {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }

        .video-que-necesito {
            justify-self: center;
            align-self: center;
            display: grid;
            height: 600px;
            width: 400px;
            border-radius: 15px;


        }

        .video-recomendaciones {
            justify-self: center;
            align-self: center;
            display: grid;
            height: 600px;
            width: 400px;
            border-radius: 15px;

        }

    }

}

/* ------------CAMPING MOBILE----------------------- */

@include mq-mobile {

    .body-camping {
        height: 20rem;
        background: url("../public/imagenes-p/cam/wp1857439.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        position: relative;

        .video-fondo-camping {
            display: none;

        }



        .header-camping {
            z-index: 500;
            position: top;
            height: 10rem;

            .header-desktop {
                display: none;

            }

            @import "../components/nav";
        }



        .main-camping {

            display: flex;
            flex-direction: column;
            width: 100%;
            row-gap: 2rem;
            margin-top: 10rem;
            margin-bottom: 2rem;


            .video-camping {
                display: flex;
                align-self: center;
                justify-self: center;
                width: 75%;
                height: 40rem;
                position: relative;
                border-radius: 15px;
            }

            section {
                display: grid;
                align-self: center;
                align-items: center;
                justify-self: center;
                justify-content: center;
                border: solid;
                row-gap: 1rem;
                background-color: rgba(255, 228, 196, 0.849);
                height: fit-content;
                width: 90%;
                padding: 1.5rem;
                border-radius: 10px;


                h3 {

                    justify-self: center;
                    align-items: center;
                }
            }

            .articulos-camping {
                display: grid;
                grid-template-columns: 100%;

            }


            article {
                display: grid;
                row-gap: 1rem;
                width: 100%;

                h2 {
                    justify-self: center;
                    background-color: rgba(255, 228, 196, 0.849);
                    border-radius: 10px;
                }

            }



            .video-que-necesito {
                display: flex;
                align-self: center;
                justify-self: center;
                width: 75%;
                position: relative;
                border-radius: 15px;
            }


            .video-recomendaciones {
                display: flex;
                align-self: center;
                justify-self: center;
                width: 75%;
                position: relative;
                border-radius: 15px;
            }


        }

    }

}

/* ------------CAMPING TABLET----------------------- */

@include mq-tablet {
    .body-camping {

        background: url("../public/imagenes-p/cam/wp1857439.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        position: relative;


        .capa {

            display: none;

        }


        .video-fondo-camping {
            display: none;

        }

        .header-camping {

            margin-bottom: 2rem;
            height: 10%;

            .header-desktop {
                display: none;

            }

            @import "../components/nav";

        }





        .main-camping {
            display: flex;
            flex-direction: column;
            width: 100%;
            row-gap: 2rem;
            margin-bottom: 2rem;

            .video-camping {
                display: flex;
                align-self: center;
                justify-self: center;
                width: 75%;
                position: relative;
                border-radius: 15px;
            }

            section {
                display: grid;
                align-self: center;
                align-items: center;
                justify-self: center;
                justify-content: center;
                border: solid;
                row-gap: 1rem;
                background-color: rgba(255, 228, 196, 0.849);
                height: fit-content;
                width: 90%;
                padding: 1.5rem;
                border-radius: 10px;

                h3 {

                    justify-self: center;
                    align-items: center;
                }



            }

            .articulos-camping {
                column-gap: 1rem;
                justify-content: center;

                article {
                    display: grid;
                    row-gap: 1rem;


                    h2 {
                        justify-self: center;
                        background-color: rgba(255, 228, 196, 0.849);
                        border-radius: 10px;


                    }

                    .video-que-necesito {
                        display: flex;
                        align-self: center;
                        justify-self: center;
                        width: 100%;
                        position: relative;
                        border-radius: 15px;
                    }

                    .video-recomendaciones {
                        display: flex;
                        align-self: center;
                        justify-self: center;
                        width: 100%;
                        position: relative;
                        border-radius: 15px;
                    }

                }

            }




        }

    }


}