.body-indispensables {

    .bg-dark {
        display: none;

    }

    height: 20rem;
    background: url("../public/imagenes-p/indispensables/maleta.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    row-gap: 2rem;
    justify-content: center;
    grid-template-columns: 1fr;

    .header-indispensables {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: fit-content;

        width: 100%;
        position: fixed;
        top: 0;

        


            .header-desktop{

                background-color: #c1cfb0f5;
            display: grid;
            grid-template-columns: 10% 80% 10%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            /* Sombra para dar un efecto flotante */
            z-index: 1000;
            /* Asegura que esté encima de otros elementos */
            grid-template-rows: 80% 20%;
            background-attachment: fixed;
            width: 100%;
            height: 100%;
            
                .titulos{
                    grid-column: span 2;
                    display: grid;
            
                      h1 {
                        color: #0a0f32d1;
                        font-size: 4rem;
                        display: flex;
                        
                        justify-self:center;
                        position: sticky;
                        top: 0px;
                        font-family: 'Times New Roman', Times, serif
                    }
            
              .subtitulo-principal {
                        font-size: 1.2rem;
                        display: flex;
                        justify-content: center;
                        font-family: 'Times New Roman', Times, serif
                    }
                }
            
             img {
                        width: 100px;
                        position: relative;
                        z-index: 1;
                    }
            
                  
                        
                    @import "../components/nav";



           

        }



    }

    .main-indispensables {
        background-color: rgba(10, 10, 10, 0.5);
        display: grid;
        gap: 2rem;
        width: 100%;
        margin-top: 10rem;

        .encabezado-indispensables {

            background-color: rgb(222, 184, 135, 0.7);
            font-size: 1.7rem;
            padding-inline: 1rem;
            text-align: center;


        }

        ol {
            display: grid;
            row-gap: 1rem;
            margin-left: 3rem;

            li {

                color: antiquewhite;
                font-size: 1.7rem;
                justify-self: baseline;
            }

        }

        section {
            border: solid black;
            border-radius: 2rem;
            display: grid;
            padding: 1rem 2rem;

        }



        p {
            font-size: 1.3rem;
            color: aliceblue;
            background-size: auto;

        }

    }
}


@include mq-mobile {

    .body-indispensables {


        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        grid-auto-columns: 100%;
        position: relative;

        .header-indispensables {

            .header-desktop {
                display: none;
            }

            .bg-dark {


                .container-fluid {
                    padding: 0;

                    .navbar-toggler {

                        width: 80%;
                        justify-self: center;
                    }
                }

            }

        }


        @import "../components/nav";


        .main-indispensables {
            background-color: rgba(10, 10, 10, 0.5);
            display: grid;
            gap: 2rem;
            width: 100%;

            .encabezado-indispensables {

                background-color: rgb(222, 184, 135, 0.7);
                font-size: 2.5rem;
                padding: 1rem;
                border-radius: 10px;
                width: 90%;
                justify-self: center;


            }

            ol {
                display: grid;
                row-gap: 1rem;
                margin-left: 0;

                li {

                    color: antiquewhite;
                    font-size: 2rem;
                    justify-self: baseline;
                }

            }

            section {
                border: solid black;
                border-radius: 2rem;
                display: grid;
                padding: 1rem 2rem;

            }



            p {
                font-size: 1.5rem;
                color: aliceblue;
                background-size: auto;

            }

        }
    }


}

@include mq-tablet {


    .body-indispensables {

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        position: relative;


        .header-indispensables {
            .header-desktop {
                display: none;
            }
        }


        @import "../components/nav";
    }

    .barra-responsive {
        width: 100%;
    }


}