.body-senderismo {
    min-height: 100vh;
    position: relative;

    background: url("../public/imagenes-p/send/senderismo-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;

    .video-senderismo {

        display: none;
    }


    .header-senderismo {

        .bg-dark {
            display: none;

        }


        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: fit-content;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;

        .header-desktop {

            background-color: #c1cfb0f5;
            display: grid;
            grid-template-columns: 10% 80% 10%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            /* Sombra para dar un efecto flotante */
            z-index: 1000;
            /* Asegura que esté encima de otros elementos */
            grid-template-rows: 80% 20%;
            background-attachment: fixed;
            width: 100%;
            height: 100%;

            .titulos {
                grid-column: span 2;
                display: grid;

                h1 {
                    color: #0a0f32d1;
                    font-size: 4rem;
                    display: flex;

                    justify-self: center;
                    position: sticky;
                    top: 0px;
                    font-family: 'Times New Roman', Times, serif
                }

                .subtitulo-principal {
                    font-size: 1.2rem;
                    display: flex;
                    justify-content: center;
                    font-family: 'Times New Roman', Times, serif
                }
            }

            img {
                width: 100px;
                position: relative;
                z-index: 1;
            }



        }

        @import "../components/nav";

    }

    .main-send {

        margin-top: 10rem;

        .presentacion-senderismo {
            display: grid;
            grid-template-columns: 60% 40%;
            background-color: rgba(16, 130, 54, 0);
            padding-block: 1rem;
            margin-block: 2rem;
            border-top: solid 1px;
            row-gap: 2rem;



            h2 {

                color: rgb(49, 33, 14);
                font-size: 2rem;
            }


            p {
                margin-top: 1.5rem;
                margin-left: 0.7rem;
                color: rgb(22, 114, 139);
                font-size: 1.3rem;
                font-family: serif;


            }

        }

        .que-es {

            border: solid;
            background-color: rgba(255, 228, 196, 0.849);
            height: fit-content;
            max-width: 60%;
            border-radius: 10px;
            justify-self: center;
            text-align: center;

        }

        .donde-se-hace {
            background-color: rgba(255, 228, 196, 0.776);
            border: solid black;
            height: fit-content;
            padding: 1.5rem;
            border-radius: 10px;
            grid-column: span 2;
            text-align: center;


        }


        .video-send {

            position: relative;
            border-radius: 15px;
            width: 85%;
            justify-self: center;


        }

        .beneficios-tips-subtitulo {
            color: rgb(136, 149, 31);
            font-size: 2rem;
            font-family: 'Bree Serif';
            background-color: rgba(233, 222, 193, 0.929);
            text-align: center;
            margin-left: 2rem;
            margin-top: 3rem;



        }

        .grid-container {
            margin-top: 2rem;
            display: grid;

            grid-template-columns: 50% 50%;
            justify-content: center;

            article {
                display: grid;
                grid-template-rows: 10% 90%;
                align-content: center;
                row-gap: 1rem;


                .video-benef {
                    height: 600px;
                    border-radius: 15px;
                    width: 400px;
                    justify-self: center;



                }


                .video-tips {
                    height: 600px;
                    border-radius: 15px;
                    width: 400px;
                    justify-self: center;
                    padding: 0;

                }

            }



            h3 {
                justify-self: center;
                align-self: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                font-size: 2rem;
                font-family: 'Bree Serif';
                background-color: antiquewhite;
                border-radius: 10px;
                padding: 0px 3px 0px 3px;


            }

        }



        .tipos-de-senderismo {

            margin-block: 3rem;
            background-color: rgba(250, 235, 215, 0.88);
            border-radius: 20px;
            padding: 2rem;
            width: 50vw;
            border: solid 1px;
            text-align: center;
            display: grid;
            justify-self: center;

            h3 {
                margin-left: 1rem;
                font-family: 'Times New Roman';
                font-size: 2rem
            }

            ul li {

                display: flex;
                border: solid black 1px;
                margin-block: 1rem;
                margin-left: 1rem;
                border-radius: 5px;
                width: fit-content;
                padding: 1rem;
                font-size: 1.3rem;


            }


        }


        .donde-realizarlo {
            background-color: rgba(42, 121, 11, 0.295);
            position: relative;

            article {

                background-color: antiquewhite;
                padding-top: 1px;
                margin-inline: 1rem;
                border-radius: 15px;
                border: solid 1px;


                h3 {
                    display: flex;
                    font-family: 'Times New Roman';
                    font-size: 2rem;
                    margin-top: 1rem;
                    justify-content: center;

                }

                p {

                    padding-block: 1rem 0.5rem;
                    font-size: 1.3rem;
                    margin-left: 1rem;
                    text-align: center;

                }

            }


            .mapas {
                margin-top: 3rem;
                display: flex;
                overflow: auto;
                gap: 1rem;
                margin-left: 1rem;


                iframe {
                    max-width: 600px;
                    max-height: 600px;
                }

                h3 {

                    font-size: 1.5rem;

                }

            }

        }
    }
}


/* ---SENDERISMO MOBILE--- */

@include mq-mobile {

    .body-senderismo {
        background: url("../public/imagenes-p/send/senderismo-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;

        .video-senderismo {

            display: none;
        }

        .header-senderismo {

            position: top;
            width: 100vw;

            .header-desktop {

                display: none;

            }

            @import "../components/nav";

        }







        .main-send {
            display: grid;
            width: 100%;
            row-gap: 2rem;
            margin-bottom: 2rem;
            justify-content: center;
            grid-template-columns: 100%;


            .presentacion-senderismo {
                display: grid;
                justify-self: center;
                background-color: rgba(16, 130, 54, 0);
                padding-block: 1rem;
                margin-block: 2rem;
                border-top: solid 1px;
                row-gap: 2rem;
                grid-template-columns: 100vw;

                h2 {

                    color: rgb(49, 33, 14);
                    font-size: 2.5rem;
                }


                p {
                    margin-top: 1.2rem;
                    margin-left: 1rem;
                    color: rgb(22, 114, 139);
                    font-size: 1.5rem;
                    font-family: serif;


                }

            }

            .que-es {
                justify-self: center;
                border: solid;
                background-color: rgba(255, 228, 196, 0.849);
                height: fit-content;
                padding: 1.5rem;
                border-radius: 10px;
                width: 100%;
            }

            .donde-se-hace {
                background-color: rgba(255, 228, 196, 0.776);
                border: solid black;
                margin: 0;
                height: fit-content;
                padding: 1.5rem;
                border-radius: 10px;


            }

            .video-send {
                width: 75%;
                position: relative;
                border-radius: 15px;
                justify-self: center;
                height: 40rem;
            }

            .beneficios-tips-subtitulo {
                color: rgb(221, 134, 20);
                font-size: 2rem;
                font-family: 'Bree Serif';
                background-color: rgba(0, 0, 0, 0.879);
                margin: 0;
                -webkit-background-clip: unset;
                border-radius: 15px;
                width: 90%;
                justify-self: center;
                padding-inline: 1rem;

            }

            .grid-container {
                margin-top: 2rem;
                display: grid;
                column-gap: 2rem;
                grid-template-columns: 100%;
                justify-self: center;
                width: 90%;


                article {
                    display: grid;
                    grid-template-rows: 10% 90%;
                    align-content: center;
                    justify-self: center;
                    width: 90%;
                    row-gap: 1rem;


                    h3 {
                        justify-self: center;
                        align-self: center;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        font-size: 2rem;
                        font-family: 'Bree Serif';
                        background-color: antiquewhite;
                        border-radius: 10px;
                        padding: 0px 3px 0px 3px;


                    }

                    .video-benef {
                        height: 60vh;
                        width: 90%;
                        border-radius: 15px;
                        justify-self: center;
                    }


                    .video-tips {
                        height: 60vh;
                        width: 90%;
                        border-radius: 15px;
                        justify-self: center;
                    }


                }







            }




            .tipos-de-senderismo {

                margin-block: 3rem;
                background-color: rgba(250, 235, 215, 0.88);
                border-radius: 20px;
                padding: 2rem;
                width: 80%;
                border: solid 1px;
                justify-self: center;

                h3 {
                    margin-left: 1rem;
                    font-family: 'Times New Roman';
                    font-size: 1.8rem
                }

                ul li {

                    display: flex;
                    border: solid black 1px;
                    margin-block: 1rem;
                    margin-left: 1rem;
                    border-radius: 5px;
                    width: fit-content;
                    padding: 1rem;
                    font-size: 1.3rem;


                }


            }


            .donde-realizarlo {
                background-color: rgba(42, 121, 11, 0.295);
                width: 100%;
                margin-left: 0;

                article {

                    background-color: antiquewhite;
                    padding-top: 1px;
                    margin-inline: 1rem;
                    border-radius: 15px;
                    border: solid 1px;

                    h3 {
                        display: flex;
                        font-family: 'Times New Roman';
                        font-size: 1.7rem;
                        margin-top: 1rem;
                        justify-content: center;

                    }

                    p {

                        padding-block: 1rem 0.5rem;
                        font-size: 1.2rem;
                        margin-left: 1rem;

                    }

                }

                .mapas {
                    margin-top: 3rem;
                    display: flex;
                    overflow: auto;
                    gap: 1rem;
                    margin-left: 0;
                    padding: 0.2rem;


                    iframe {
                        max-width: 400px;
                        max-height: 500px;

                        body {
                            .embed__footer__stats__item>p:first-child {

                                font-size: 10px;

                            }
                        }


                    }

                    h3 {

                        font-size: 1.5rem;

                    }
                }

            }



        }


    }


}

/* ---SENDERISMO TABLET--- */

@include mq-tablet {


    .body-senderismo {
        background: url("../public/imagenes-p/send/senderismo-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: grid;
        grid-auto-columns: 100%;


        .video-senderismo {

            display: none;
        }

        .header-senderismo {

            margin-bottom: 2rem;
            height: 10%;

            .header-desktop {
                display: none;
            }

            @import "../components/nav";


        }




        .main-send {
            display: grid;
            width: 100%;
            row-gap: 2rem;
            margin-bottom: 2rem;
            justify-content: center;
            grid-template-columns: 100%;


            .presentacion-senderismo {
                display: grid;
                justify-self: center;
                background-color: rgba(16, 130, 54, 0);
                padding-block: 1rem;
                margin-block: 2rem;
                border-top: solid 1px;
                row-gap: 2rem;
                width: 100%;

                h2 {

                    color: rgb(49, 33, 14);
                    font-size: 2.5rem;
                }

                p {
                    margin-top: 1.2rem;
                    margin-left: 1rem;
                    color: rgb(22, 114, 139);
                    font-size: 1.5rem;
                    font-family: serif;


                }



                .que-es {
                    justify-self: center;
                    border: solid;
                    background-color: rgba(255, 228, 196, 0.849);
                    height: fit-content;
                    padding: 1.5rem;
                    border-radius: 10px;
                }

                .donde-se-hace {
                    background-color: rgba(255, 228, 196, 0.776);
                    border: solid black;
                    margin: 0;
                    height: fit-content;
                    padding: 0;
                    border-radius: 10px;
                    width: 100%;


                }


                .video-send {
                    width: 25rem;
                    position: relative;
                    border-radius: 15px;
                    justify-self: center;
                    height: 40rem;
                }




            }







            .beneficios-tips-subtitulo {
                color: rgb(221, 134, 20);
                font-size: 2rem;
                font-family: 'Bree Serif';
                background-color: rgba(0, 0, 0, 0.879);
                margin: 0;
                -webkit-background-clip: unset;
                border-radius: 15px;
                width: 90%;
                justify-self: center;
                padding-inline: 0;

            }

            .grid-container {
                margin-top: 10rem;
                display: grid;
                column-gap: 20rem;
                grid-template-columns: 100%;
                justify-self: center;

                article {
                    display: grid;
                    grid-template-rows: repeat(1, 1fr);
                    align-content: center;

                    h3 {
                        justify-self: center;
                        align-self: center;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        font-size: 2rem;
                        font-family: 'Bree Serif';
                        background-color: antiquewhite;
                        border-radius: 10px;
                        padding: 0px 3px 0px 3px;


                    }



                }

                .video-benef {
                    height: 400px !important;
                    border-radius: 5px !important;
                    padding: 0;


                }

                .video-tips {
                    height: 400px !important;
                    border-radius: 50px !important;
                    padding: 0;
                }


            }


            .tipos-de-senderismo {

                margin-block: 3rem;
                background-color: rgba(250, 235, 215, 0.88);
                border-radius: 20px;
                padding: 2rem;
                width: 80%;
                border: solid 1px;
                justify-self: center;

                h3 {
                    margin-left: 1rem;
                    font-family: 'Times New Roman';
                    font-size: 1.8rem
                }


                ul li {

                    display: flex;
                    border: solid black 1px;
                    margin-block: 1rem;
                    margin-left: 1rem;
                    border-radius: 5px;
                    width: fit-content;
                    padding: 1rem;
                    font-size: 1.3rem;


                }




            }

            .donde-realizarlo {
                background-color: rgba(42, 121, 11, 0.295);
                // overflow: auto;
                position: relative;
                width: 100%;
                display: grid;





                article {

                    background-color: antiquewhite;
                    padding-top: 1px;
                    margin-inline: 1rem;
                    border-radius: 15px;
                    border: solid 1px;
                    width: 90%;


                    h3 {
                        display: flex;
                        font-family: 'Times New Roman';
                        font-size: 1.7rem;
                        margin-top: 1rem;
                        justify-content: center;

                    }

                    p {

                        padding-block: 1rem 0.5rem;
                        font-size: 1.2rem;
                        margin-left: 1rem;

                    }
                }

                .mapas {
                    margin-top: 3rem;
                    display: flex;
                    overflow: auto;
                    gap: 1rem;
                    margin-left: 0;
                    width: 100%;
                    justify-self: center;




                    iframe {
                        max-width: 500px;
                        max-height: 500px;
                    }

                    h3 {

                        font-size: 1.5rem;


                    }




                }



            }






        }



    }



}