.body-senderismo {
    min-height: 100vh;
    position: relative;

    .video-senderismo {

        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }

    .header-senderismo {

        .bg-dark {
            display: none;

        }


        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 15rem;

        justify-content: space-between;
        align-items: center;

        h1 {

            color: bisque;
            font-size: 4rem;
            display: flex;
            justify-content: center;
            position: sticky;
            top: 0px;

        }


        img {
            width: 15rem;
            display: flex;
            float: left;
            position: fixed;
            z-index: 1;
        }


        @import "../components/nav";

    }

    .main-send {

        .presentacion-senderismo {
            display: flex;
            justify-content: space-around;
            background-color: rgba(16, 130, 54, 0);
            padding-block: 1rem;
            margin-block: 2rem;
            border-top: solid 1px;


            h2 {

                color: rgb(49, 33, 14);
                font-size: 2.5rem;
            }


            p {
                margin-top: 1.2rem;
                margin-left: 1rem;
                color: rgb(22, 114, 139);
                font-size: 1.5rem;
                font-family: serif;


            }

        }

        .que-es {

            border: solid;
            background-color: rgba(255, 228, 196, 0.849);
            height: fit-content;
            padding: 1.5rem;
            border-radius: 10px;
        }

        .donde-se-hace {
            background-color: rgba(255, 228, 196, 0.776);
            border: solid black;
            margin-top: 25vh;
            height: fit-content;
            padding: 1.5rem;
            border-radius: 10px;


        }


        .video-send {

            position: relative;
            border-radius: 15px;

        }

        .beneficios-tips-subtitulo {
            color: antiquewhite;
            font-size: 2rem;
            font-family: 'Bree Serif';
            background-color: rgb(0, 0, 0);
            -webkit-background-clip: text;
            margin-left: 2rem;
            margin-top: 3rem;



        }

        .grid-container {
            margin-top: 10rem;
            display: grid;
            column-gap: 20rem;
            grid-template-columns: auto auto;
            justify-content: center;

            article {
                display: grid;
                grid-template-rows: repeat(1, 1fr);
                align-content: center;
            }

            .video-benef {
                height: 40rem;
                border-radius: 15px;
                width: 20rem;

            }


            .video-tips {
                height: 40rem;
                border-radius: 15px;
                width: 20rem;

            }

            h3 {
                justify-self: center;
                align-self: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                font-size: 2rem;
                font-family: 'Bree Serif';
                background-color: antiquewhite;
                border-radius: 10px;
                padding: 0px 3px 0px 3px;


            }

        }



        .tipos-de-senderismo {

            margin-block: 3rem;
            background-color: rgba(250, 235, 215, 0.88);
            border-radius: 20px;
            padding: 2rem;
            width: 75vw;
            border: solid 1px;

            h3 {
                margin-left: 1rem;
                font-family: 'Times New Roman';
                font-size: 1.8rem
            }

            ul li {

                display: flex;
                border: solid black 1px;
                margin-block: 1rem;
                margin-left: 1rem;
                border-radius: 5px;
                width: fit-content;
                padding: 1rem;
                font-size: 1.3rem;


            }


        }


        .donde-realizarlo {
            background-color: rgba(42, 121, 11, 0.295);
            position: relative;

            article {

                background-color: antiquewhite;
                padding-top: 1px;
                margin-inline: 1rem;
                border-radius: 15px;
                border: solid 1px;


                h3 {
                    display: flex;
                    font-family: 'Times New Roman';
                    font-size: 1.7rem;
                    margin-top: 1rem;
                    justify-content: center;

                }

                p {

                    padding-block: 1rem 0.5rem;
                    font-size: 1.2rem;
                    margin-left: 1rem;

                }

            }


            .mapas {
                margin-top: 3rem;
                display: flex;
                overflow: auto;
                gap: 1rem;
                margin-left: 1rem;


                h3 {

                    font-size: 1.5rem;

                }

            }

        }
    }
}


/* ---SENDERISMO MOBILE--- */

@include mq-mobile {

    .body-senderismo {
        background: url("../imagenes-p/send/senderismo-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;

        .video-senderismo {

            display: none;
        }

        .header-desktop {
            display: none;
        }

        @import "../components/nav";

       


        .main-send {
            display: grid;
            width: 100%;
            row-gap: 2rem;
            margin-bottom: 2rem;
            justify-content: center;
            grid-template-columns: 100%;


            .presentacion-senderismo {
                display: grid;
                justify-self: center;
                background-color: rgba(16, 130, 54, 0);
                padding-block: 1rem;
                margin-block: 2rem;
                border-top: solid 1px;
                row-gap: 2rem;
                width: 100%;

                h2 {

                    color: rgb(49, 33, 14);
                    font-size: 2.5rem;
                }


                p {
                    margin-top: 1.2rem;
                    margin-left: 1rem;
                    color: rgb(22, 114, 139);
                    font-size: 1.5rem;
                    font-family: serif;


                }

            }

            .que-es {
                justify-self: center;
                border: solid;
                background-color: rgba(255, 228, 196, 0.849);
                height: fit-content;
                padding: 1.5rem;
                border-radius: 10px;
                width: 90%;
            }

            .donde-se-hace {
                background-color: rgba(255, 228, 196, 0.776);
                border: solid black;
                margin: 0;
                height: fit-content;
                padding: 1.5rem;
                border-radius: 10px;


            }

            .video-send {
                width: 25rem;
                position: relative;
                border-radius: 15px;
                justify-self: center;
                height: 40rem;
            }

            .beneficios-tips-subtitulo {
                color: rgb(221, 134, 20);
                font-size: 2rem;
                font-family: 'Bree Serif';
                background-color: rgba(0, 0, 0, 0.879);
                margin: 0;
                -webkit-background-clip: unset;
                border-radius: 15px;
                width: 90%;
                justify-self: center;
                padding-inline: 1rem;

            }

            .grid-container {
                margin-top: 2rem;
                display: grid;
                column-gap: 2rem;
                grid-template-columns: 100%;
                justify-self: center;
                width: 90%;


                article {
                    display: grid;
                    grid-template-rows: repeat(1, 1fr);
                    align-content: center;
                    justify-self: center;
                    width: 90%;


                    h3 {
                        justify-self: center;
                        align-self: center;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        font-size: 2rem;
                        font-family: 'Bree Serif';
                        background-color: antiquewhite;
                        border-radius: 10px;
                        padding: 0px 3px 0px 3px;


                    }

                    .video-benef {
                        height: 50rem;
                        width: 90%;
                        border-radius: 15px;
                        justify-self: center;
                    }


                    .video-tips {
                        height: 50rem;
                        width: 90%;
                        border-radius: 15px;
                        justify-self: center;
                    }


                }







            }




            .tipos-de-senderismo {

                margin-block: 3rem;
                background-color: rgba(250, 235, 215, 0.88);
                border-radius: 20px;
                padding: 2rem;
                width: 80%;
                border: solid 1px;
                justify-self: center;

                h3 {
                    margin-left: 1rem;
                    font-family: 'Times New Roman';
                    font-size: 1.8rem
                }

                ul li {

                    display: flex;
                    border: solid black 1px;
                    margin-block: 1rem;
                    margin-left: 1rem;
                    border-radius: 5px;
                    width: fit-content;
                    padding: 1rem;
                    font-size: 1.3rem;


                }


            }


            .donde-realizarlo {
                background-color: rgba(42, 121, 11, 0.295);
                width: 100%;
                margin-left: 0;

                article {

                    background-color: antiquewhite;
                    padding-top: 1px;
                    margin-inline: 1rem;
                    border-radius: 15px;
                    border: solid 1px;

                    h3 {
                        display: flex;
                        font-family: 'Times New Roman';
                        font-size: 1.7rem;
                        margin-top: 1rem;
                        justify-content: center;

                    }

                    p {

                        padding-block: 1rem 0.5rem;
                        font-size: 1.2rem;
                        margin-left: 1rem;

                    }

                }

                .mapas {
                    margin-top: 3rem;
                    display: flex;
                    overflow: auto;
                    gap: 1rem;
                    margin-left: 0;
                    padding: 0.2rem;

                    h3 {

                        font-size: 1.5rem;

                    }
                }

            }



        }


    }


}

/* ---SENDERISMO TABLET--- */

@include mq-tablet {


    .body-senderismo {
        background: url("../imagenes-p/send/senderismo-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: grid;
        grid-auto-columns: 100%;


        .video-senderismo {

            display: none;
        }


        .header-desktop {
            display: none;
        }

        @import "../components/nav";



        .main-send {
            display: grid;
            width: 100%;
            row-gap: 2rem;
            margin-bottom: 2rem;
            justify-content: center;
            grid-template-columns: 100%;


            .presentacion-senderismo {
                display: grid;
                justify-self: center;
                background-color: rgba(16, 130, 54, 0);
                padding-block: 1rem;
                margin-block: 2rem;
                border-top: solid 1px;
                row-gap: 2rem;
                width: 100%;

                h2 {

                    color: rgb(49, 33, 14);
                    font-size: 2.5rem;
                }

                p {
                    margin-top: 1.2rem;
                    margin-left: 1rem;
                    color: rgb(22, 114, 139);
                    font-size: 1.5rem;
                    font-family: serif;


                }



                .que-es {
                    justify-self: center;
                    border: solid;
                    background-color: rgba(255, 228, 196, 0.849);
                    height: fit-content;
                    padding: 1.5rem;
                    border-radius: 10px;
                }

                .donde-se-hace {
                    background-color: rgba(255, 228, 196, 0.776);
                    border: solid black;
                    margin: 0;
                    height: fit-content;
                    padding: 0;
                    border-radius: 10px;
                    width: 100%;


                }


                .video-send {
                    width: 25rem;
                    position: relative;
                    border-radius: 15px;
                    justify-self: center;
                    height: 40rem;
                }




            }







            .beneficios-tips-subtitulo {
                color: rgb(221, 134, 20);
                font-size: 2rem;
                font-family: 'Bree Serif';
                background-color: rgba(0, 0, 0, 0.879);
                margin: 0;
                -webkit-background-clip: unset;
                border-radius: 15px;
                width: 90%;
                justify-self: center;
                padding-inline: 0;

            }

            .grid-container {
                margin-top: 10rem;
                display: grid;
                column-gap: 20rem;
                grid-template-columns: 100%;
                justify-self: center;

                article {
                    display: grid;
                    grid-template-rows: repeat(1, 1fr);
                    align-content: center;

                    h3 {
                        justify-self: center;
                        align-self: center;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        font-size: 2rem;
                        font-family: 'Bree Serif';
                        background-color: antiquewhite;
                        border-radius: 10px;
                        padding: 0px 3px 0px 3px;


                    }



                }

                .video-benef {
                    height: 40rem;
                    border-radius: 15px;
                }

                .video-tips {
                    height: 40rem;
                    border-radius: 15px;
                }


            }


            .tipos-de-senderismo {

                margin-block: 3rem;
                background-color: rgba(250, 235, 215, 0.88);
                border-radius: 20px;
                padding: 2rem;
                width: 80%;
                border: solid 1px;
                justify-self: center;

                h3 {
                    margin-left: 1rem;
                    font-family: 'Times New Roman';
                    font-size: 1.8rem
                }


                ul li {

                    display: flex;
                    border: solid black 1px;
                    margin-block: 1rem;
                    margin-left: 1rem;
                    border-radius: 5px;
                    width: fit-content;
                    padding: 1rem;
                    font-size: 1.3rem;


                }




            }

            .donde-realizarlo {
                background-color: rgba(42, 121, 11, 0.295);
                // overflow: auto;
                position: relative;
                width: 100%;





                article {

                    background-color: antiquewhite;
                    padding-top: 1px;
                    margin-inline: 1rem;
                    border-radius: 15px;
                    border: solid 1px;
                    width: 90%;


                    h3 {
                        display: flex;
                        font-family: 'Times New Roman';
                        font-size: 1.7rem;
                        margin-top: 1rem;
                        justify-content: center;

                    }

                    p {

                        padding-block: 1rem 0.5rem;
                        font-size: 1.2rem;
                        margin-left: 1rem;

                    }
                }

                .mapas {
                    margin-top: 3rem;
                    display: flex;
                    overflow: auto;
                    gap: 1rem;
                    margin-left: 0;


                    h3 {

                        font-size: 1.5rem;

                    }

                }



            }






        }



    }



}